<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRegistreNaissanceLabel" jhiTranslate="etatCivilApp.registreNaissance.home.createOrEditLabel">Create or edit a Registre Naissance</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!registreNaissance.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="registreNaissance.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="etatCivilApp.registreNaissance.numero" for="field_numero">Numero</label>
            <input type="number" class="form-control" name="numero" id="field_numero"
                [(ngModel)]="registreNaissance.numero"
            required />
            <div [hidden]="!(editForm.controls.numero?.dirty && editForm.controls.numero?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.numero?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.numero?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="etatCivilApp.registreNaissance.annee" for="field_annee">Annee</label>
            <div class="input-group">
                <input id="field_annee" type="text" class="form-control" name="annee" ngbDatepicker  #anneeDp="ngbDatepicker" [(ngModel)]="registreNaissance.annee"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="anneeDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.annee?.dirty && editForm.controls.annee?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.annee?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="etatCivilApp.registreNaissance.naissance" for="field_naissance">Naissance</label>
            <select class="form-control" id="field_naissance" name="naissance" [(ngModel)]="registreNaissance.naissance"  required>
                <option [ngValue]="naissanceOption.id === registreNaissance.naissance?.id ? registreNaissance.naissance : naissanceOption" *ngFor="let naissanceOption of naissances; trackBy: trackNaissanceById">{{naissanceOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.naissance?.dirty && editForm.controls.naissance?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.naissance?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
