
<div *ngIf="adresse">
    <h2><span jhiTranslate="etatCivilApp.adresse.detail.title">Adresse</span> {{adresse.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="etatCivilApp.adresse.rue">Rue</span></dt>
        <dd>
            <span>{{adresse.rue}}</span>
        </dd>
        <dt><span jhiTranslate="etatCivilApp.adresse.ville">Ville</span></dt>
        <dd>
            <div *ngIf="adresse.ville">
                <a [routerLink]="['/ville', adresse.ville?.id]">{{adresse.ville?.nom}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="etatCivilApp.adresse.pays">Pays</span></dt>
        <dd>
            <div *ngIf="adresse.pays">
                <a [routerLink]="['/pays', adresse.pays?.id]">{{adresse.pays?.nom}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'adresse/'+ adresse.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
