
<div *ngIf="pieceJointe">
    <h2><span jhiTranslate="etatCivilApp.pieceJointe.detail.title">Piece Jointe</span> {{pieceJointe.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="etatCivilApp.pieceJointe.nom">Nom</span></dt>
        <dd>
            <div *ngIf="pieceJointe.nom">
                <a (click)="openFile(pieceJointe.nomContentType, pieceJointe.nom)" jhiTranslate="entity.action.open">open</a>
                {{pieceJointe.nomContentType}}, {{byteSize(pieceJointe.nom)}}
            </div>
        </dd>
        <dt><span jhiTranslate="etatCivilApp.pieceJointe.naissance">Naissance</span></dt>
        <dd>
            <div *ngIf="pieceJointe.naissance">
                <a [routerLink]="['/naissance', pieceJointe.naissance?.id]">{{pieceJointe.naissance?.numeroRegistre}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'piece-jointe/'+ pieceJointe.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
